<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" type="style/css" href="templates/style.css">

        <title>{% block title %}Welcome!{% endblock %}</title>

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
        <!-- Google Fonts -->
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap">
        <!-- Bootstrap core CSS -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">
        <!-- Material Design Bootstrap -->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet">
        <!-- JQuery -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <!-- Bootstrap tooltips -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
        <!-- Bootstrap core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
        <!-- MDB core JavaScript -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>





    </head>
    <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <!-- Image and text -->
        <nav class="navbar navbar-light bg-dark">
            <a class="navbar-brand" href="{{ path('accueil') }}">
                <i class="far fa-building"></i>              Soja Freres
            </a>
        </nav>



        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="navbar-nav mr-auto">

                <li class="nav-item {% if controller_name == 'AccueilController'%} active {% endif %}">

                    <a class="nav-link {% if controller_name == 'AccueilController'%} active {% endif %}" href="{{ path('accueil') }}">Acceuil <span ></span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">Qui Sommes Nous ?</a>
                </li>
                <li class="nav-item {% if controller_name == 'ProjetsController'%} active {% endif %}">
                    <a class="nav-link {% if controller_name == 'ProjetsController'%} active {% endif %}" href="{{ path('projets') }}">Projets</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Clients</a>
                </li>


                <li class="nav-item {% if controller_name == 'ContactController'%} active {% endif %}">
                    <a class="nav-link " href="{{ path('contact') }}" >Contact</a>
                </li>

            </ul>
            <form class="form-inline my-2 my-lg-0">

                <a class="btn btn-outline-warning waves-effect" id="btnchercher" href="{{ path('contact') }}" role="button">Nous Contacter</a>
            </form>
        </div>
    </nav>







        {% block body %}
            <style>{% include 'style.css' %}</style>





        {% endblock %}

        {% block javascripts %}{% endblock %}



    <div style="height: 100px">


        </div>
    </div>
    <!-- Footer -->
    <footer class="page-footer font-small bg-dark">

        <div style="background-color: #343a40;">
            <div class="container">

                <!-- Grid row-->
                <div class="row py-4 d-flex align-items-center">

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                        <h6 class="mb-0 text-light">Rester En Contact Avec soja freres </h6>
                    </div>
                    <!-- Grid column -->

                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">

                        <!-- Facebook -->

                        <!-- Twitter -->

                        <!-- Google +-->
                        <a class="gplus-ic">
                            <i class="fab fa-google-plus-g mr-3"> </i>
                        </a>
                        <!--Linkedin -->
                        <a class="li-ic">
                            <i class="fab fa-linkedin-in mr-3"> </i>
                        </a>
                        <!--Instagram-->


                    </div>
                    <!-- Grid column -->

                </div>
                <!-- Grid row-->

            </div>
        </div>

        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5 ">

            <!-- Grid row -->
            <div class="row mt-3 ">

                <!-- Grid column -->
                <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">

                    <!-- Content -->
                    <h6 class="text-uppercase font-weight-bold">SOJA FRERES sarl</h6>
                    <hr class="warning-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>t, consectetur adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas nostrum quisquam eum porro a pariatur veniam.</p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">


                    <h6 class="text-uppercase font-weight-bold">lien utile</h6>
                    <hr class="warning-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <a href="http://127.0.0.1:8000/accueil">Acceuil</a>
                    </p>
                    <p>
                        <a href="http://127.0.0.1:8000/projets">Projet</a>
                    </p>
                    <p>
                        <a href="http://127.0.0.1:8000/contact">Contact</a>
                    </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

                    <!-- Links -->
                    <h6 class="text-uppercase font-weight-bold">Contact</h6>
                    <hr class="warning-color accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                    <p>
                        <i class="fas fa-home mr-3"></i> N° 190 Bloc C Al Houda Agadir</p>
                    <p>
                        <i class="fas fa-envelope mr-3"></i> sojafreres@gmail.com</p>
                    <p>
                        <i class="fas fa-phone mr-3"></i> 06 06 000000</p>


                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </div>
        <!-- Footer Links -->

        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright :
            <a href="http://127.0.0.1:8000/accueil"> SOJA FRERES</a>
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->



    </body>
</html>
